/* font family
	============================================================================================ */
$title-font: 'Oswald', sans-serif;
$text-font: 'Roboto', sans-serif;                     


/* color variables
	============================================================================================ */
$title-color: #fff;
$text-color: #797979;
$primary-color: #79b0ca;
$primary-color2: #164573;


$black: #242429;
$link-color: #666666;
$white: #fff;


/* google fonts
	============================================================================================ */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');





